header {
  background-color: #fefefe;
  border: solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  display: flex;
  height: 50px;
}
.main-logo p {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-left: 5px;
}
li,
a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  list-style: none;
}
header p {
  color: #f17228;
}
.nav-links a {
  text-transform: uppercase;
  text-decoration: none;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #f17228;
  font-weight: 700;
}

.social-link-1 {
  color: #f17228;
  text-decoration: none;
}
.social-link-2 {
  text-decoration: none;
  color: #f17228;
}

.social {
  word-spacing: 5px;
}
#search {
  background-image: url(../images/icon/search.png);
  padding: 5px;
  background-repeat: no-repeat;
  background-position: 3% 50%;
  border: #fbc5a6 solid;
  border-radius: 10px;
  outline: none;
  width: 235px;
}
#search::placeholder {
  padding-left: 20px;
}
