header {
  background-color: #fefefe;
  border: solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.main-logo {
  display: flex;
  height: 50px;
}
.main-logo p {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
a {
  font-weight: 500;
  font-size: 16px;
  color: black;
}
header p {
  color: #f17228;
  margin-top: 15px;
}
.nav-links a {
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 20px;
  color: black;
}
.nav-links {
  display: flex;
}
#nuur {
  color: #f17228;
}
.nav-links a {
  transition: all 0.3s ease 0s;
}
.nav-links a:hover {
  color: #f17228;
  font-weight: 700;
}
.social {
  display: flex;
  padding-left: 10px;
}
.social img {
  padding-left: 20px;
}
.social1 {
  color: #f17228;
  text-decoration: none;
}
.social2 {
  text-decoration: none;
  color: #f17228;
}
.social a {
  transition: all 0.5s ease 0.1s;
  padding-left: 5px;
}
.social a:hover {
  color: #f17228;
  font-weight: 700;
}
.search input {
  background-image: url(/images/icon/se.svg);
  padding: 5px;
  background-repeat: no-repeat;
  background-position: 3% 50%;
  border: #fbc5a6 solid;
  border-radius: 10px;
  outline: none;
  width: 235px;
  padding-left: 20px;
}

#tsearch {
  display: none;
}
@media (max-width: 1200px) {
  .nav-links a {
    font-size: 14px;
  }
  .social a {
    display: none;
  }
  #tsearch {
    margin-left: 20px;
    display: block;
  }
  .search input {
    background-image: url(/images/icon/se.svg);
    padding: 5px;
    background-repeat: no-repeat;
    background-position: 3% 50%;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 10px;
    padding-left: 20px;
    transition: width 1s;
  }
  .search input:focus {
    width: 100%;
    transition: width 1s;
    border: #fbc5a6 solid;
  }
  .btns {
    visibility: hidden;
  }
  #butn {
    display: none;
  }
}
