.box {
  width: 384px;
  height: 440px;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.title h2 {
  border-left: #f17228 11px solid;
  text-transform: uppercase;
  font-weight: 600;
}
#email {
  margin: 12px;
  border: #ffd7bf solid;
  width: 359px;
  height: 40px;
  border-radius: 16px;
}
